*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Gill Sans Extrabold, sans-serif;
}
table {
  margin-left: auto;
  margin-right: auto;
}

.sixtyPixels {
  font-size: 60px;
}

.fusciaShadow {
  text-shadow: 1px 1px #c71585;
}

.colorFuscia {
  color: #c71585;
}

.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fusciaOnBlueBtn {
  color: #c71585;
  background-color: midnightblue;
}

.whiteFusciaBlueGradient {
  color: rgb(34, 153, 233);
  background: linear-gradient(white, #c71585, midnightblue);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 40px;
}
/* removed the margin because it adversely affected the table */
.lightBlueOnWhite {
  color: rgb(34, 153, 233);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  font-size: 18px;
  max-width: 100%;
  padding: 30px 40px;
}

.midnightBlueShadow {
  text-shadow: 1px 1px midnightblue;
  font-size: 30px;
}
/* .using a parent element to wrap around a child so i can use place items:center  */
.adultCenter {
  width: 100%;
  display: grid;
  place-items: center;
}
/* .using a child element to go inside a parent so i can use place items:center and fix my table which was pushed far left */
.kidCenter {
  width: 75%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
